<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.testfunction.mapper.ScreenIotAddressMapper">

    <resultMap type="ScreenIotAddress" id="ScreenIotAddressResult">
        <result property="id" column="id"/>
        <result property="addressId" column="address_id"/>
        <result property="groupName" column="group_name"/>
        <result property="addressName" column="address_name"/>
        <result property="aliasName" column="alias_name"/>
        <result property="sort" column="sort"/>
        <result property="status" column="status"/>
        <result property="version" column="version"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="uuid" column="uuid"/>
        <result property="remark" column="remark"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

    <sql id="selectScreenIotAddressVo">
        select id,
               address_id,
               group_name,
               address_name,
               alias_name,
               sort,
               status,
               version,
               create_by,
               create_time,
               update_by,
               update_time,
               uuid,
               remark,
               tenant_id
        from screen_iot_address
    </sql>

    <select id="selectScreenIotAddressList" parameterType="ScreenIotAddress" resultMap="ScreenIotAddressResult">
        <include refid="selectScreenIotAddressVo"/>
        <where>
            <if test="addressId != null ">and address_id = #{addressId}</if>
            <if test="groupName != null  and groupName != ''">and group_name like concat('%', #{groupName}, '%')</if>
            <if test="addressName != null  and addressName != ''">and address_name like concat('%', #{addressName},
                '%')
            </if>
            <if test="aliasName != null  and aliasName != ''">and alias_name like concat('%', #{aliasName}, '%')</if>
            <if test="sort != null ">and sort = #{sort}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="version != null ">and version = #{version}</if>
            <if test="uuid != null  and uuid != ''">and uuid = #{uuid}</if>
            <if test="tenantId != null ">and tenant_id = #{tenantId}</if>
        </where>
    </select>

    <select id="selectScreenIotAddressById" parameterType="Long" resultMap="ScreenIotAddressResult">
        <include refid="selectScreenIotAddressVo"/>
        where id = #{id}
    </select>

    <insert id="insertScreenIotAddress" parameterType="ScreenIotAddress" useGeneratedKeys="true" keyProperty="id">
        insert into screen_iot_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addressId != null">address_id,</if>
            <if test="groupName != null">group_name,</if>
            <if test="addressName != null">address_name,</if>
            <if test="aliasName != null">alias_name,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="version != null">version,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="uuid != null">uuid,</if>
            <if test="remark != null">remark,</if>
            <if test="tenantId != null">tenant_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="addressId != null">#{addressId},</if>
            <if test="groupName != null">#{groupName},</if>
            <if test="addressName != null">#{addressName},</if>
            <if test="aliasName != null">#{aliasName},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="version != null">#{version},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="uuid != null">#{uuid},</if>
            <if test="remark != null">#{remark},</if>
            <if test="tenantId != null">#{tenantId},</if>
        </trim>
    </insert>

    <update id="updateScreenIotAddress" parameterType="ScreenIotAddress">
        update screen_iot_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="addressId != null">address_id = #{addressId},</if>
            <if test="groupName != null">group_name = #{groupName},</if>
            <if test="addressName != null">address_name = #{addressName},</if>
            <if test="aliasName != null">alias_name = #{aliasName},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="version != null">version = #{version},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="uuid != null">uuid = #{uuid},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteScreenIotAddressById" parameterType="Long">
        delete
        from screen_iot_address
        where id = #{id}
    </delete>

    <delete id="deleteScreenIotAddressByIds" parameterType="String">
        delete from screen_iot_address where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>